body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    border:2px solid black;
    border-radius: 5px;
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */


}
h2 ,p{
    text-align: center;
}
button {
    height: 30px;
    width: 220px;
    border-radius: 5px;
    background-color: rgb(81, 170, 238);
    color:white;
}
#line1,#line2 {
    display: flex;
    justify-content: space-around;
}
#filler {
    height: 30px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
input {
    height:30px;
    width:400px;
    border-radius:10px;
    margin-bottom: 10px;
    
}

